<h1>Nearest Stations</h1>
<% @stations.each_with_index do |station, index| %>
  <% cache station.api_id do %>
    <div id="station-<%= index %>">
      <h3><%= link_to "#{station.name}", station_path(station.api_id), method: :get %></h3>
      <p><%= station.street_address %></p>
      <p><%= "#{station.city}, #{station.state} #{station.zip_code}"  %></p>
      <p>Status: <%= station.status %></p>
      <p>Hours: <%= station.hours %></p>
      <p>Network: <%= station.ev_network %></p>
      <p>Distance from Search location: <%= station.distance %> miles</p>
      <br>
    </div>
  <% end %>
<% end %>
<% binding.pry %>
