<h1>Nearest Stations</h1>
<%  %>
<% @stations.each_with_index do |station, index| %>
  <div id="station-<%= index %>"> 
  <p><%= station.name %></p>
  <p><%= station.street_address %></p>
  <p><%= "#{station.city}, #{station.state} #{station.zip_code}"  %></p>
  <p><%= station.status %></p>
  <p><%= station.hours %></p>
  <p><%= station.ev_network %></p>
  <p><%= station.distance %></p>
  </div>
<% end %>
