<% if flash[:error] %>
      <h2><%= flash[:error] %></h2>
  <% end %>
  
<%= form_with url: "/sign_up", local: true, method: :post do |f|%>
  <%= f.label :first_name, "First Name: " %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Last Name: " %>
  <%= f.text_field :last_name %>
  <%= f.label :email, "email: " %>
  <%= f.text_field :email, required: true %>
  <%= f.label :street_address, "Street Address: " %>
  <%= f.text_field :street_address, required: true %>
  <%= f.label :city, "City: " %>
  <%= f.text_field :city, required: true %>
  <%= f.label :state, "State: " %>
  <%= f.text_field :state, required: true %>
  <%= f.label :zip_code, "Zip Code: " %>
  <%= f.text_field :zip_code, required: true %>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password, required: true %>
  <%= f.label :password_confirmation, "Retype Password: " %>
  <%= f.password_field :password_confirmation, required: true %>
  <%= f.submit "Sign Up" %>
<% end %>