<header>
  <div class='container'>

      <nav>
        <ul>
          <li><%= link_to "My Profile" %></li>
          
          <li><% if session[:token] && params[:controller] != "welcome" %>
            <%= link_to "Dashboard", dashboard_path, method: :get %>
          <% end %></li>
          
          <li><% if session[:token] && params[:controller] != "welcome" %>
            <%= link_to "Log Out", log_out_path, method: :delete %>
          <% else %>
            <%= link_to "Log In", root_path, method: :get %>
          <% end %></li>
        
        <li><%= form_with url: stations_path, local: true, method: :get do |f| %>
          <%= f.text_field :location, placeholder: "Search station by zip, city or address", size: "31x400" %>
          <%= f.submit "Find Stations" %>
        <% end %>
        </li>
      </ul>
          
      </nav>
  </div>
</header>









