<!DOCTYPE html>
<html>
  <head>
    <title>EvStationFinderFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if session[:token] && params[:controller] != "welcome" %>
      <h3><%= link_to "Log Out", log_out_path, method: :delete %></h3>
    <% end %>  
  </head>
  <div class="errors">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
